body{
    margin: 0;
}

.nav-enlace{
    display: inline-block;
    color: rgb(32, 30, 30);
    text-decoration: none;
    margin-right: 18px;
    margin-top: 10px;
    margin-left: -3px;
    font-family: arial,sans-serif;
    line-height: 24px;
    font-size: 13px;
}

.nav-enlace:hover{
    text-decoration: underline;
}

.jota{
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 6px;
}

.cuadricula{
    display: inline-block;
    width: 26px; height: 26px;
    margin-right: 11px;
    margin-top: 1px;
    padding: 8px;
}

.cuadricula:hover{
    background: rgb(231, 234, 236);
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: flex-end;
    height: 40px
}

.gogle{
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-left: 2px;
}

.papuchi{
    
    display: flex;
    justify-content: center;
}

.lupa{
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 34px;
}

.cuadro{
    display: inline-block;
    margin:auto;
    width: 575px;
    height: 43px;
    margin-top: 24px;
    border-radius: 1.5rem;
    border: 1px solid rgb(231, 226, 226);
    position: static;
}

.cuadro:hover{
    box-shadow: 1px 1px 12px rgb(220, 223, 224);
}

.cuadritos{
    background: rosybrown;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
    text-decoration: none;
    color: #3c4043;
    border-radius: 0.4rem;
}

.cuadritos:hover{
    border: 1px solid #d1d6d6;
    box-shadow: 1px 1px 3px #d1d6d6;
}

.cuadritos-padre{
    display: flex;
    justify-content: center;
    margin-top: 28px;
    box-sizing: border-box;
}

.ofrecido{
    text-align:center;
    padding-top: 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4043;
}

.espanol{
color: darkblue;
text-decoration: none;
}

.colombia{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.54);
    padding-top: 2px;
    margin-left: 30px;
    height: 45px;

}

.pie-de-pagina{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    margin: 1px;
    padding: 10px 15px;
}

.pie-de-pagina:hover{
    text-decoration: underline;
}

.pieces{
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

.push{
    margin-left: auto;
}

.padre-pie{
background: #f2f2f2;
margin-top: 235px;
}